html{
    margin: 0;
    padding: 0;
    font-family: 'pop';
    overflow-x: hidden;
    background-color: var(--white);
}
a{
    color: var(--black);
    text-decoration: none; 
}
.semi24{
    font-size: 1.5rem;
    font-family: 'semi';
    color: var(--black);
}
.semi28{
    font-size: 1.75rem;
    font-family: 'semi';
    color: var(--black);
}
.semi36{
    font-size: 2.25rem;
    font-family: 'semi';
    color: var(--black);
}
.bold16w{
    font-size: 1rem;
    font-family: 'bold';
    color: var(--white);
}
.bold32{
    font-family: 'bold';
    font-size: 2rem;
    color: var(--black);
}
.bold34{
    font-family: 'bold';
    font-size: 2.1rem;
    color: var(--black);
}
.bold40{
    font-size: 2.5rem;
    font-family: 'bold';
    color: var(--black);
}
.bold52or{
    font-family: 'bold';
    font-size: 3.25rem;
    color: var(--orange);    
}
.sm{
    border-color: var(--orange);
    width: 15.3rem;
    height: 3rem;
    border-style: solid;
    font-size: 1rem;
    color: var(--orange);
    background-color: var(--white);
    font-family: 'semi';
}
.med16{
    font-size: 1rem;
    font-family: 'pop';
    color: var(--grey);
}
.med16b{
    font-size: 1rem;
    font-family: 'pop';
    color: var(--black);
}
.med16w{
    font-size: 1rem;
    font-family: 'pop';
    color: var(--white);
}
.med18{
    font-size: 1.1rem;
    font-family: 'pop';
    color: var(--black);
}
.semi20{
    font-size: 1.25rem;
    font-family: 'semi';
    color: var(--grey);
}
.semi20b{
    font-size: 1.25rem;
    font-family: 'semi';
    color: var(--black);
}
.bold24{
    font-size: 1.5rem;
    font-family: 'bold';
    color: var(--black);
}
.reg14g{
    font-size: 0.9rem;
    font-family: 'reg';
    color: var(--grey);
}
.reg16{
    font-size: 1rem;
    font-family: 'reg';
    color: var(--grey);
}
.reg20g{
    font-family: 'reg';
    font-size: 1.3rem;
    color: var(--grey);
}
.reg20b{
    font-family: 'reg';
    font-size: 1.3rem;
    color: var(--black);
}
.light16{
    font-size: 1rem;
    font-family: 'light';
    color: var(--black);
}
.light16g{
    font-size: 1rem;
    font-family: 'light';
    color: var(--grey);
}
.pop48{
    font-size: 3rem;
    font-family: 'pop';
    color: var(--black);
}
.regul20{
    font-size: 1.25rem;
    font-family: 'reg';
    color: var(--black);
}
.reg16b{
    font-size: 1rem;
    font-family: 'reg';
    color: var(--black);
}
.med24g{
    font-size: 1.5rem;
    font-family: 'pop';
    color: var(--grey);
}
.med24{
    font-size: 1.5rem;
    font-family: 'pop';
    color: var(--black);
}
.semi16or{
    font-size: 1rem;
    font-family: 'semi';
    color: var(--orange);
}
.semi16{
    font-size: 1rem;
    font-family: 'semi';
    color: var(--black);
}
.semi16w{
    font-size: 1rem;
    font-family: 'semi';
    color: var(--white);
}
.med36{
    font-size: 2.2rem;
    font-family: 'pop';
    color: var(--black);
}
.med28{
    font-size: 1.75rem;
    font-family: 'pop';
    color: var(--black);
}
.med13g{
    font-size: 0.8rem;
    font-family: 'pop'; 
    color: var(--grey);   
}