@font-face {
    font-family: 'pop';
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'semi';
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'reg';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(../fonts/Poppins-Light.ttf);
}