<div class="block3">
    <div class="bl3_tit bold40">
        Our Products
    </div>
    <div class="block3_cards">
        <div class="block3_card">
            @@include('_card.html', {
            "img": "assets/images/card1",
            "title": "Syltherine",
            "text": "Stylish cafe chair",
            "price": "Rp 2.500.000",
            "discount": "-30%",
            "discount1": "",
            "disc":"Rp 3.500.000"
            })
        </div>
        <div class="block3_card1">
            @@include('_card.html', {
            "img": "assets/images/card2",
            "title": "Leviosa",
            "text": "Stylish cafe chair",
            "price": "Rp 2.500.000",
            "discount": "",
            "discount1": "",
            "disc": ""
            })
        </div>
        <div class="block3_card1">
            @@include('_card.html', {
            "img": "assets/images/card3",
            "title": "Lolito",
            "text": "Luxury big sofa",
            "price": "Rp 7.000.000",
            "discount": "-50%",
            "discount1": "",
            "disc": "Rp 14.000.000"
            })
        </div>
        <div class="block3_card1">
            @@include('_card.html', {
            "img": "assets/images/card4",
            "title": "Respira",
            "text": "Outdoor bar table and stool",
            "price": "Rp 500.000",
            "discount1": "New",
            "discount": "",
            "disc":""
            })
        </div>
        <div class="block3_card1">
            @@include('_card.html', {
            "img": "assets/images/card5",
            "title": "Grifo",
            "text": "Night lamp",
            "price": "Rp 1.500.000",
            "discount": "",
            "discount1": "",
            "disc": ""
            })
        </div>
        <div class="block3_card1">
            @@include('_card.html', {
            "img": "assets/images/card6",
            "title": "Muggo",
            "text": "Small mug",
            "price": "Rp 150.000",
            "discount": "",
            "discount1": "New",
            "disc": ""
            })
        </div>
        <div class="block3_card1">
            @@include('_card.html', {
            "img": "assets/images/card7",
            "title": "Pingky",
            "text": "Cute bed set",
            "price": "Rp 7.000.000",
            "discount": "-50%",
            "discount1": "",
            "disc": "Rp 14.000.000"
            })
        </div>
        <div class="block3_card1">
            @@include('_card.html', {
            "img": "assets/images/card8",
            "title": "Potty",
            "text": "Minimalist flower pot",
            "price": "Rp 500.000",
            "discount": "",
            "discount1": "New",
            "disc": ""
            })
        </div>
    </div>
    <div class="but2">
        <a href="shop.html"><button class="sm">Show More</button></a>
    </div> 
</div>