<div class="block2">
    <div class="bl2_tit bold32">
        Browse The Range
    </div>
    <div class="bl2_tit2 reg20b">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="cards1">
        <div class="card1">
            <picture>
                <source srcset="assets/images/bl2_1-sm.webp" media="(max-width: 480px)">
                <img src="assets/images/bl2_1.webp" alt="" class="p2">
            </picture>
            <div class="bl2_podzag semi24">Dining</div>
        </div>
        <div class="card1">
            <picture>
                <source srcset="assets/images/bl2_2-sm.webp" media="(max-width: 480px)">
                <img src="assets/images/bl2_2.webp" alt="" class="p2">
            </picture>
            <div class="bl2_podzag semi24">Living</div>
        </div>
        <div class="card1">
            <picture>
                <source srcset="assets/images/bl2_3-sm.webp" media="(max-width: 480px)">
                <img src="assets/images/bl2_3.webp" alt="" class="p2">
            </picture>
            <div class="bl2_podzag semi24">Bedroom</div>
        </div>
    </div>
</div>