<div class="block1">   
    <div class="block11">
        <div class="block111">
            <div class="bl1_new semi16">
                New Arrival
            </div>
            <div class="title bold52or">
                Discover Our New Collection
            </div>
            <div class="bl1_lorem med18">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
            </div>
            <a href="shop.html"><button class="but1 bold16w">
                BUY NOW
            </button></a>
        </div>
    </div> 
</div>