<div class="block5">
    <div class="block5_text">
        <div class="semi20">
            Share your setup with
        </div>
        <div class="bold40">
            #FuniroFurniture
        </div>
    </div>
    <div class="block5_pic">
        <div class="block5_left">
            <div class="block5_lup">
                <picture>
                    <source media="(max-width: 480px)" srcset="assets/images/bl5_1-sm.webp">
                    <img src="assets/images/bl5_1.webp" alt="" class="bl5_1">
                </picture>
                <picture>
                    <source media="(max-width: 480px)" srcset="assets/images/bl5_2-sm.webp">
                    <img src="assets/images/bl5_2.webp" alt="" class="bl5_2">
                </picture>
            </div>
            <div class="block5_ldown">
                <picture>
                    <source media="(max-width: 480px)" srcset="assets/images/bl5_3-sm.webp">
                    <img src="assets/images/bl5_3.webp" alt="" class="bl5_3">
                </picture>
                <div class="b5_4">
                    <picture>
                        <source media="(max-width: 480px)" srcset="assets/images/bl5_4-sm.webp">
                        <img src="assets/images/bl5_4.webp" alt="" class="bl5_4">
                    </picture>
                </div>    
            </div>
        </div>
        <div class="block5_center">
            <picture>
                <source media="(max-width: 480px)" srcset="assets/images/bl5_5-sm.webp">
                <img src="assets/images/bl5_5.webp" alt="" class="bl5_5">
            </picture>
        </div>
        <div class="block5_right">
            <div class="block5_rup">
                <picture>
                    <source media="(max-width: 480px)" srcset="assets/images/bl5_6-sm.webp">
                    <img src="assets/images/bl5_6.webp" alt="" class="bl5_6">
                </picture>
                <picture>
                    <source media="(max-width: 480px)" srcset="assets/images/bl5_7-sm.webp">
                    <img src="assets/images/bl5_7.webp" alt="" class="bl5_7">
                </picture>
            </div>
            <div class="block5_rdown">
                <picture>
                    <source media="(max-width: 480px)" srcset="assets/images/bl5_8-sm.webp">
                    <img src="assets/images/bl5_8.webp" alt="" class="bl5_8">
                </picture>
                <div class="b5_9">
                    <picture>
                        <source media="(max-width: 480px)" srcset="assets/images/bl5_9-sm.webp">
                        <img src="assets/images/bl5_9.webp" alt="" class="bl5_9">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>