<div class="block4">
    <div class="b41">
        <div class="bold40 bl4_tit">
            50+ Beautiful rooms inspiration
        </div>
        <div class="bl4_text med16">
            Our designer already made a lot of beautiful prototipe of rooms that inspire you
        </div>
        <a href="shop.html"><button class="but3 semi16w">
            Explore More
        </button></a>
    </div>
    <div class="b42">
        <div class="b421">
            <div class="l421">
                <div class="med16">01 — Bed Room</div>
                <div class="semi28">Inner Peace</div>
            </div>
        </div>
        <div class="strelka">
            <img src="assets/images/strelka.svg" alt="" class="b4pic1">
        </div>
    </div>
    <div class="b43">
        <div class="b431">
            <picture>
                <source media="(max-width: 480px)" srcset="assets/images/bl4_2-sm.webp">
                <img src="assets/images/bl4_2.webp" alt="" class="b4pic2">
            </picture>
            <picture>
                <source media="(max-width: 480px)" srcset="assets/images/bl4_3-sm.webp">
                <img src="assets/images/bl4_3.webp" alt="" class="b4pic3">
            </picture>
        </div>
        <div class="krug">
            <img src="assets/images/krug.svg" alt="" class="krug">
        </div>
        <div class="b432">
            <div class="orbor">
                <div class="bepis">
                    <div class="orkrug"></div>
                </div>
            </div>
            <div class="gror"></div>
            <div class="gror"></div>
            <div class="gror"></div>
        </div>
    </div>
</div>