<div class="bl31_tit med36">Related Products</div>
<div class="block21">
    <div class="block3_cards">
        <div class="block3_card">
            @@include('_card.html', {
            "img": "assets/images/card1",
            "title": "Syltherine",
            "text": "Stylish cafe chair",
            "price": "Rp 2.500.000",
            "discount": "-30%",
            "discount1": "",
            "disc":"Rp 3.500.000"
            })
        </div>
        <div class="block3_card">
            @@include('_card.html', {
            "img": "assets/images/card2",
            "title": "Leviosa",
            "text": "Stylish cafe chair",
            "price": "Rp 2.500.000",
            "discount": "",
            "discount1": "",
            "disc": ""
            })
        </div>
        <div class="block3_card">
            @@include('_card.html', {
            "img": "assets/images/card3",
            "title": "Lolito",
            "text": "Luxury big sofa",
            "price": "Rp 7.000.000",
            "discount": "-50%",
            "discount1": "",
            "disc": "Rp 14.000.000"
            })
        </div>
        <div class="block3_card">
            @@include('_card.html', {
            "img": "assets/images/card4",
            "title": "Respira",
            "text": "Outdoor bar table and stool",
            "price": "Rp 500.000",
            "discount1": "New",
            "discount": "",
            "disc":""
            })
        </div>
    </div>
    <div class="but2">
        <button class="sm2 semi16or">Show More</button>
    </div>
</div>