<div class="card_outside">
  <div class="card">
    <div class="card__discount med16w">@@discount</div>
    <div class="card__discount1 med16w">@@discount1</div>
      <img src="@@img.webp" alt="" class="card__image">
    <div class="card__overlay">
      <a href="cart.html"><button class="card__btn-cart semi16or">Add to cart</button></a>
      <div class="card__actions semi16w">
        <span>⎙ Share</span>
        <span>⇄ Compare</span>
        <span>♡ Like</span>
      </div>
    </div>
    <div class="card__body">
      <div class="card__title">@@title</div>
      <div class="med16">@@text</div>
      <div class="card_sale">
        <div class="card__price">@@price</div>
        <s class="card__disc reg16">@@disc</s>
      </div>
    </div>
  </div>
</div>