<div class="cart">
  <div class="cart-left">
    <div class="items">
      <div class="item-head">
        <div class="col name">Product</div>
        <div class="col price">Price</div>
        <div class="col qty">Quantity</div>
        <div class="col sum">Subtotal</div>
      </div>
      <div class="item">
        <div class="col name product">
          <picture>
            <source media="(max-width: 480px)" srcset="assets/images/a_sofa-sm.webp">
            <img src="assets/images/a_sofa.webp" alt="">
          </picture>
          <span class="gray"><div class="name_sofa">Asgaard sofa</div></span>
        </div>
        <div class="price_prod"><div class="gray">Rs. 250,000.00</div></div>
        <div class="col qty">
          <input type="number" value="1" class="qty_prod">
        </div>
        <div class="col sum"><div class="sum_prod">Rs. 250,000.00</div></div>
        <div class="col remove">
          <img src="assets/images/trash.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="cart-right">
    <h2>Cart Totals</h2>
    <div class="line">
      <span>Subtotal</span>
      <span class="gray">Rs. 250,000.00</span>
    </div>
    <div class="line">
      <span>Total</span>
      <span class="gold">Rs. 250,000.00</span>
    </div>
    <div class="check">
      <a href="checkout.html" class="checkout">Check Out</a>
    </div>
  </div>
</div>