<div class="top-section">
  <div class="left-column">
    <div class="compar_title med28">Go to Product page for more Products</div>
    <div class="semi20 link">View More</div>
  </div>

  <div class="prod_cards">
    <div class="product-card">
      <picture>
        <source media="(max-width: 480px)" srcset="assets/images/pc1-sm.webp">
        <img src="assets/images/pc1.webp" alt="" />
      </picture>
      <div class="med24">Asgaard Sofa</div>
      <div class="med16b">Rs. 250,000.00</div>
      <div class="rating-row">
        <div class="med16b">4.7</div>
        <div class="stars">★ ★ ★ ★ ★</div>
        <div class="med13g">| 204 Review</div>
      </div>
    </div>

    <div class="product-card">
      <picture>
        <source media="(max-width: 480px)" srcset="assets/images/pc2-sm.webp">
        <img src="assets/images/pc2.webp" alt="" />
      </picture>
      <div class="med24">Outdoor Sofa Set</div>
      <div class="med16b">Rs. 224,000.00</div>
      <div class="rating-row">
        <div class="med16b">4.2</div>
        <div class="stars">★ ★ ★ ★ ☆</div>
        <div class="med13g">| 145 Review</div>
      </div>
    </div>
  </div>  

  <div class="right-column">
    <div class="bold24 aap">Add A Product</div>
    <button class="cap">Choose a Product <span class="compar_strelka">▼</span></button>
  </div>
</div>