<div class="specification-container">
  <div class="specification-section">
    <h2>General</h2>

    <table>
      <tr>
        <th>Sales Package</th>
        <td data-label="Model 1">1 sectioned solo</td>
        <td data-label="Model 2">1 Three Sector, 2 Single Senior</td>
      </tr>
      <tr>
        <th>Model Number</th>
        <td data-label="Model 1">TFCBLIGRBL6SRHS</td>
        <td data-label="Model 2">DTUBLIGRBL568</td>
      </tr>
      <tr>
        <th>Secondary Material</th>
        <td data-label="Model 1">Solid Wood</td>
        <td data-label="Model 2">Solid Wood</td>
      </tr>
      <tr>
        <th>Configuration</th>
        <td data-label="Model 1">L-shaped</td>
        <td data-label="Model 2">L-shaped</td>
      </tr>
      <tr>
        <th>Upholstery Material</th>
        <td data-label="Model 1">Fabric + Cotton</td>
        <td data-label="Model 2">Fabric + Cotton</td>
      </tr>
      <tr>
        <th>Upholstery Color</th>
        <td data-label="Model 1">Bright Grey & Lion</td>
        <td data-label="Model 2">Bright Grey & Lion</td>
      </tr>
    </table>
  </div>

  <div class="specification-section">
    <h2>Product</h2>
    <table>
      <tr>
        <th>Filling Material</th>
        <td data-label="Model 1">Foam</td>
        <td data-label="Model 2">Matte</td>
      </tr>
      <tr>
        <th>Finish Type</th>
        <td data-label="Model 1">Bright Grey & Lion</td>
        <td data-label="Model 2">Bright Grey & Lion</td>
      </tr>
      <tr>
        <th>Adjustable Headrest</th>
        <td data-label="Model 1">No</td>
        <td data-label="Model 2">Yes</td>
      </tr>
      <tr>
        <th>Maximum Load Capacity</th>
        <td data-label="Model 1">280 KG</td>
        <td data-label="Model 2">300 KG</td>
      </tr>
      <tr>
        <th>Origin of Manufacture</th>
        <td data-label="Model 1">India</td>
        <td data-label="Model 2">India</td>
      </tr>
    </table>
  </div>

  <div class="specification-section">
    <h2>Dimensions</h2>

    <table>
      <tr>
        <th>Width</th>
        <td data-label="Model 1">285.32 cm</td>
        <td data-label="Model 2">295.32 cm</td>
      </tr>
      <tr>
        <th>Height</th>
        <td data-label="Model 1">76 cm</td>
        <td data-label="Model 2">76 cm</td>
      </tr>
      <tr>
        <th>Depth</th>
        <td data-label="Model 1">167.76 cm</td>
        <td data-label="Model 2">167.76 cm</td>
      </tr>
      <tr>
        <th>Weight</th>
        <td data-label="Model 1">45 KG</td>
        <td data-label="Model 2">65 KG</td>
      </tr>
      <tr>
        <th>Seat Height</th>
        <td data-label="Model 1">41.52 cm</td>
        <td data-label="Model 2">41.52 cm</td>
      </tr>
      <tr>
        <th>Leg Height</th>
        <td data-label="Model 1">5.46 cm</td>
        <td data-label="Model 2">5.46 cm</td>
      </tr>
    </table>
  </div>

  <div class="specification-section">
    <h2>Warranty</h2>

    <table>
      <tr>
        <th>Warranty Summary</th>
        <td data-label="Model 1">1 Year Manufacturing Warrant</td>
        <td data-label="Model 2">12 Year Manufacturing Warrant</td>
      </tr>
      <tr>
        <th>Warranty Service Type</th>
        <td data-label="Model 1">For Warranty Claims or Any Product Related Issues Please Email at operating@wwfurnitu re.com</td>
        <td data-label="Model 2">For Warranty Claims or Any Product Related Issues Please Email at support@wz.com</td>
      </tr>
      <tr>
        <th>Covered in Warranty</th>
        <td data-label="Model 1">Warranty Against Manufacturing Defect</td>
        <td data-label="Model 2">Warranty of the product is limited to manufacturing defects only.</td>
      </tr>
      <tr>
        <th>Not Covered in Warranty</th>
        <td data-label="Model 1">The Warranty Does Not Cover Dampage Due To Usage Of The Product Beyond Its Intended Use And Were & Teer In The Natural Charge of Product Usage</td>
        <td data-label="Model 2">The Warranty Does Not Cover Dampage Due To Usage Of The Product Beyond Its Intended Use And Were & Teer In The Natural Charge of Product Usage.</td>
      </tr>
      <tr>
        <th>Domestic Warranty</th>
        <td data-label="Model 1">1 Year</td>
        <td data-label="Model 2">3 Months</td>
      </tr>
      <tr>
        <th></th>
        <td><button class="adc">Add To Cart Model 1</button></td>
        <td><button class="adc">Add To Cart Model 2</button></td>
      </tr>
    </table>
  </div>
</div>