<section class="contact-section">
  <div class="contact-heading">
    <h2 class="bold32">Get In Touch With Us</h2>
    <p class="reg16">
      For More Information About Our Product & Services. Please Feel Free To Drop Us An Email. Our Staff Always Be There To Help You Out. Do Not Hesitate!
    </p>
  </div>
  <div class="contact-content">
    <div class="contact-left">
      <div class="contact-info">
        <div class="info-block">
          <div class="roflan"><div class="c_icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="oblupa" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
</svg></div></div>
          <div class="cont_minitit">
            <h4 class="semi20b">Address</h4>
            <p class="reg16b">236 5th SE Avenue, New York NY10000, <br>United States</p>
          </div>
        </div>
        <div class="info-block">
          <div class="roflan"><div class="c_icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="oblupa" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
          </svg></div></div>
          <div class="cont_minitit">
            <h4 class="semi20b">Phone</h4>
            <p class="reg16b">Mobile: +(84) 546-67890 <br>Hotline: +(84) 456-67890</p>
          </div>
        </div>
        <div class="info-block">
          <div class="roflan"><div class="c_icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="oblupa" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
</svg></div></div>
          <div class="cont_minitit">
            <h4 class="semi20b">Working Time</h4>
            <p class="reg16b">Monday-Friday: 9:00 - 22:00<br>Saturday-Sunday: 9:00 - 21:00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-right">
      <form class="contact-form">
        <label class="reg16b">Your name</label>
        <input type="text" placeholder="Abc">
        <label class="reg16b">Email address</label>
        <input type="email" placeholder="Abc@def.com">
        <label class="reg16b">Subject</label>
        <input type="text" placeholder="This is an optional">
        <label class="reg16b">Message</label>
        <textarea placeholder="Hi! I’d like to ask about"></textarea>
        <button type="submit" class="sm">Submit</button>
      </form>
    </div>
  </div>
</section>
