<div class="filters">
    <div class="filt_l">
        <div class="filt">
            <div class="filtering"><img src="assets/images/filtering.svg" alt=""></div>
            <div class="regul20">
                Filter
            </div>
        </div>    
        <div class="4round"><img src="assets/images/4round.svg" alt=""></div>
        <div class="list"><img src="assets/images/list.svg" alt=""></div>
        <div class="vertical-line"></div>
        <div class="filt_show"><div class="reg16b">Showing 1–16 of 32 results</div></div>
    </div>
    <div class="filt_r">
        <div class="r_show">
            <div class="regul20">Show</div>
            <div class="robl">
                <input type="text" class="reg20b show" placeholder="16"></div>
        </div>
        <div class="r_sb">
            <div class="regul20">Short by</div>
            <div class="sbobl"><input type="text" class="reg20b short" placeholder="Default"></div>
        </div>
    
    </div>
</div>