<div class="supreme">
    <div class="advant">
        <div class="sup_logo">
            <img src="assets/images/hq.svg" alt="">
        </div>
        <div class="sup_texts">
            <div class="semi24">High Quality</div>
            <div class="semi20">crafted from top materials</div>
        </div>
    </div>

    <div class="advant">
        <div class="sup_logo">
            <img src="assets/images/wp.svg" alt="">
        </div>
        <div class="sup_texts">
            <div class="semi24">Warranty Protection</div>
            <div class="semi20">Over 2 years</div>
        </div>
    </div>

    <div class="advant">
        <div class="sup_logo">
            <img src="assets/images/fs.svg" alt="">
        </div>
        <div class="sup_texts">
            <div class="semi24">Free Shipping</div>
            <div class="semi20">Order over 150 $</div>
        </div>
    </div>

    <div class="advant">
        <div class="sup_logo">
            <img src="assets/images/247sup.svg" alt="">
        </div>
        <div class="sup_texts">
            <div class="semi24">24 / 7 Support</div>
            <div class="semi20">Dedicated support</div>
        </div>
    </div>
</div>
